In [1]:
import sys
import itertools
import xarray as xr
import numpy as np
import pandas as pd
%matplotlib inline
from functools import partial
# import wrf


# import personal modules
# Path to modules
sys.path.append('../modules')
# Import my modules
from utils import select_months_ds, generate_ptlst_from_start_end
from statistical_tests import ttest_1samp_new

In [2]:
path_to_data = '/expanse/nfs/cw3e/cwp140/'
path_to_out  = '../out/'       # output files (numerical results, intermediate datafiles) -- read & write
path_to_figs = '../figs/'      # figures

In [3]:
region = 'baja' ## 'san_juan' 'baja' 'gulf_of_mexico'
## create bounding boxes for regions
d = {'baja': {'ext': [-115., -110., 27., 32.],
              'start_pt': [33.0, -118.],
              'end_pt': [29.0, -110.]},
     
     'san_juan': {'ext': [-109., -105., 37., 39.],
              'start_pt': [38.0, -112.],
              'end_pt': [38.0, -102.]},

     'gulf_of_mexico': {'ext': [-99., -93., 25., 31.],
              'start_pt': [28.0, -100.],
              'end_pt': [31.0, -93.]}
    }

coord_pairs = generate_ptlst_from_start_end(d[region]['start_pt'][1], d[region]['start_pt'][0], d[region]['end_pt'][1], d[region]['end_pt'][0], pairs=False)
print(coord_pairs)

(array([33.  , 32.75, 32.5 , 32.25, 32.  , 31.75, 31.5 , 31.25, 31.  ,
       30.75, 30.5 , 30.25, 30.  , 29.75, 29.5 , 29.25, 29.  ]), array([-118. , -117.5, -117. , -116.5, -116. , -115.5, -115. , -114.5,
       -114. , -113.5, -113. , -112.5, -112. , -111.5, -111. , -110.5,
       -110. ]))

In [4]:
## load ar dates within region
region = 'baja' ## 'san_juan' 'baja' 'gulf_of_mexico'
fname = '../out/line_dates_{0}.csv'.format(region)
df = pd.read_csv(fname)
df['day'] = pd.to_datetime(df['datetime']).dt.normalize()
df = df.sort_values(by=['datetime'])
# df = df.set_index(pd.to_datetime(df['datetime'])) ## set daily values as index
ar_dates = df['day'].values
## create year month columns in dataframe 
# df['yearmonth'] = df.index.strftime("%Y%m")
new = df.drop_duplicates('day')
ar_dates = new['day'].values
ar_dates

array(['2000-02-23T00:00:00.000000000', '2000-02-24T00:00:00.000000000',
       '2000-04-20T00:00:00.000000000', '2000-04-21T00:00:00.000000000',
       '2000-06-17T00:00:00.000000000', '2000-06-18T00:00:00.000000000',
       '2000-07-06T00:00:00.000000000', '2000-08-30T00:00:00.000000000',
       '2000-09-20T00:00:00.000000000', '2000-09-21T00:00:00.000000000',
       '2000-09-22T00:00:00.000000000', '2000-10-09T00:00:00.000000000',
       '2000-10-10T00:00:00.000000000', '2000-10-11T00:00:00.000000000',
       '2000-10-21T00:00:00.000000000', '2000-10-27T00:00:00.000000000',
       '2001-01-25T00:00:00.000000000', '2001-01-27T00:00:00.000000000',
       '2001-02-07T00:00:00.000000000', '2001-02-28T00:00:00.000000000',
       '2001-04-05T00:00:00.000000000', '2001-04-19T00:00:00.000000000',
       '2001-04-20T00:00:00.000000000', '2001-08-19T00:00:00.000000000',
       '2002-01-29T00:00:00.000000000', '2002-01-30T00:00:00.000000000',
       '2002-09-05T00:00:00.000000000', '2002-09-06T00:00:00.000000000',
       '2002-09-07T00:00:00.000000000', '2002-09-08T00:00:00.000000000',
       '2002-09-16T00:00:00.000000000', '2002-09-17T00:00:00.000000000',
       '2002-09-29T00:00:00.000000000', '2002-09-30T00:00:00.000000000',
       '2002-10-01T00:00:00.000000000', '2002-10-02T00:00:00.000000000',
       '2002-11-08T00:00:00.000000000', '2003-02-11T00:00:00.000000000',
       '2003-02-12T00:00:00.000000000', '2003-02-13T00:00:00.000000000',
       '2003-02-24T00:00:00.000000000', '2003-02-25T00:00:00.000000000',
       '2003-03-14T00:00:00.000000000', '2003-03-15T00:00:00.000000000',
       '2003-03-16T00:00:00.000000000', '2003-03-17T00:00:00.000000000',
       '2003-04-13T00:00:00.000000000', '2003-04-14T00:00:00.000000000',
       '2003-04-15T00:00:00.000000000', '2003-05-14T00:00:00.000000000',
       '2003-09-07T00:00:00.000000000', '2003-09-08T00:00:00.000000000',
       '2003-09-09T00:00:00.000000000', '2003-10-31T00:00:00.000000000',
       '2003-11-01T00:00:00.000000000', '2003-11-02T00:00:00.000000000',
       '2003-11-13T00:00:00.000000000', '2003-12-31T00:00:00.000000000',
       '2004-01-01T00:00:00.000000000', '2004-01-02T00:00:00.000000000',
       '2004-02-25T00:00:00.000000000', '2004-02-26T00:00:00.000000000',
       '2004-02-27T00:00:00.000000000', '2004-08-22T00:00:00.000000000',
       '2004-09-01T00:00:00.000000000', '2004-09-02T00:00:00.000000000',
       '2004-09-03T00:00:00.000000000', '2004-09-04T00:00:00.000000000',
       '2004-09-17T00:00:00.000000000', '2004-09-18T00:00:00.000000000',
       '2004-09-19T00:00:00.000000000', '2004-09-20T00:00:00.000000000',
       '2004-09-28T00:00:00.000000000', '2004-10-19T00:00:00.000000000',
       '2004-10-20T00:00:00.000000000', '2004-10-21T00:00:00.000000000',
       '2004-10-25T00:00:00.000000000', '2004-10-26T00:00:00.000000000',
       '2004-10-27T00:00:00.000000000', '2004-10-28T00:00:00.000000000',
       '2004-12-28T00:00:00.000000000', '2004-12-29T00:00:00.000000000',
       '2005-01-03T00:00:00.000000000', '2005-01-04T00:00:00.000000000',
       '2005-01-07T00:00:00.000000000', '2005-01-08T00:00:00.000000000',
       '2005-01-09T00:00:00.000000000', '2005-01-10T00:00:00.000000000',
       '2005-01-11T00:00:00.000000000', '2005-02-10T00:00:00.000000000',
       '2005-02-11T00:00:00.000000000', '2005-04-21T00:00:00.000000000',
       '2005-04-22T00:00:00.000000000', '2005-04-23T00:00:00.000000000',
       '2005-04-24T00:00:00.000000000', '2005-09-07T00:00:00.000000000',
       '2005-09-08T00:00:00.000000000', '2005-09-25T00:00:00.000000000',
       '2005-09-26T00:00:00.000000000', '2005-09-27T00:00:00.000000000',
       '2005-10-02T00:00:00.000000000', '2005-10-03T00:00:00.000000000',
       '2005-10-04T00:00:00.000000000', '2005-10-06T00:00:00.000000000',
       '2005-10-07T00:00:00.000000000', '2005-10-08T00:00:00.000000000',
       '2005-10-16T00:00:00.000000000', '2005-11-10T00:00:00.000000000',
       '2005-11-11T00:00:00.000000000', '2006-02-16T00:00:00.000000000',
       '2006-02-17T00:00:00.000000000', '2006-03-05T00:00:00.000000000',
       '2006-03-06T00:00:00.000000000', '2006-03-10T00:00:00.000000000',
       '2006-03-11T00:00:00.000000000', '2006-03-27T00:00:00.000000000',
       '2006-03-28T00:00:00.000000000', '2006-03-29T00:00:00.000000000',
       '2006-08-13T00:00:00.000000000', '2006-08-24T00:00:00.000000000',
       '2006-08-25T00:00:00.000000000', '2006-09-13T00:00:00.000000000',
       '2006-09-14T00:00:00.000000000', '2006-09-15T00:00:00.000000000',
       '2006-09-18T00:00:00.000000000', '2006-09-19T00:00:00.000000000',
       '2006-09-20T00:00:00.000000000', '2006-10-02T00:00:00.000000000',
       '2006-10-04T00:00:00.000000000', '2006-10-05T00:00:00.000000000',
       '2006-10-06T00:00:00.000000000', '2006-10-07T00:00:00.000000000',
       '2006-10-08T00:00:00.000000000', '2006-10-09T00:00:00.000000000',
       '2006-10-12T00:00:00.000000000', '2006-10-14T00:00:00.000000000',
       '2006-10-15T00:00:00.000000000', '2006-10-16T00:00:00.000000000',
       '2006-10-17T00:00:00.000000000', '2006-10-23T00:00:00.000000000',
       '2006-10-24T00:00:00.000000000', '2007-01-10T00:00:00.000000000',
       '2007-01-11T00:00:00.000000000', '2007-01-12T00:00:00.000000000',
       '2007-01-13T00:00:00.000000000', '2007-03-21T00:00:00.000000000',
       '2007-04-21T00:00:00.000000000', '2007-08-25T00:00:00.000000000',
       '2007-08-26T00:00:00.000000000', '2007-09-14T00:00:00.000000000',
       '2007-09-15T00:00:00.000000000', '2007-09-16T00:00:00.000000000',
       '2007-09-17T00:00:00.000000000', '2007-09-20T00:00:00.000000000',
       '2007-09-21T00:00:00.000000000', '2007-09-22T00:00:00.000000000',
       '2007-09-23T00:00:00.000000000', '2007-09-27T00:00:00.000000000',
       '2007-09-28T00:00:00.000000000', '2007-09-29T00:00:00.000000000',
       '2007-09-30T00:00:00.000000000', '2007-10-04T00:00:00.000000000',
       '2007-10-05T00:00:00.000000000', '2007-11-28T00:00:00.000000000',
       '2007-11-29T00:00:00.000000000', '2007-11-30T00:00:00.000000000',
       '2007-12-01T00:00:00.000000000', '2007-12-06T00:00:00.000000000',
       '2007-12-07T00:00:00.000000000', '2007-12-08T00:00:00.000000000',
       '2007-12-10T00:00:00.000000000', '2008-01-03T00:00:00.000000000',
       '2008-01-04T00:00:00.000000000', '2008-01-05T00:00:00.000000000',
       '2008-01-06T00:00:00.000000000', '2008-01-25T00:00:00.000000000',
       '2008-01-26T00:00:00.000000000', '2008-01-27T00:00:00.000000000',
       '2008-02-02T00:00:00.000000000', '2008-02-03T00:00:00.000000000',
       '2008-02-14T00:00:00.000000000', '2008-02-24T00:00:00.000000000',
       '2008-03-29T00:00:00.000000000', '2008-05-22T00:00:00.000000000',
       '2008-05-23T00:00:00.000000000', '2008-09-09T00:00:00.000000000',
       '2008-10-03T00:00:00.000000000', '2008-10-04T00:00:00.000000000',
       '2008-10-09T00:00:00.000000000', '2008-10-10T00:00:00.000000000',
       '2008-10-11T00:00:00.000000000', '2008-11-25T00:00:00.000000000',
       '2008-11-26T00:00:00.000000000', '2008-12-14T00:00:00.000000000',
       '2008-12-15T00:00:00.000000000', '2008-12-17T00:00:00.000000000',
       '2008-12-18T00:00:00.000000000', '2008-12-23T00:00:00.000000000',
       '2008-12-24T00:00:00.000000000', '2008-12-25T00:00:00.000000000',
       '2009-01-22T00:00:00.000000000', '2009-01-23T00:00:00.000000000',
       '2009-01-24T00:00:00.000000000', '2009-02-22T00:00:00.000000000',
       '2009-02-23T00:00:00.000000000', '2009-04-11T00:00:00.000000000',
       '2009-04-15T00:00:00.000000000', '2009-06-09T00:00:00.000000000',
       '2009-06-17T00:00:00.000000000', '2009-06-18T00:00:00.000000000',
       '2009-06-24T00:00:00.000000000', '2009-09-12T00:00:00.000000000',
       '2009-09-13T00:00:00.000000000', '2009-09-14T00:00:00.000000000',
       '2009-10-02T00:00:00.000000000', '2009-10-03T00:00:00.000000000',
       '2009-10-04T00:00:00.000000000', '2009-10-18T00:00:00.000000000',
       '2009-10-19T00:00:00.000000000', '2009-10-20T00:00:00.000000000',
       '2009-11-12T00:00:00.000000000', '2009-11-13T00:00:00.000000000',
       '2009-11-14T00:00:00.000000000', '2009-12-06T00:00:00.000000000',
       '2009-12-07T00:00:00.000000000', '2009-12-12T00:00:00.000000000',
       '2009-12-13T00:00:00.000000000', '2010-01-19T00:00:00.000000000',
       '2010-01-20T00:00:00.000000000', '2010-01-21T00:00:00.000000000',
       '2010-01-22T00:00:00.000000000', '2010-02-19T00:00:00.000000000',
       '2010-02-20T00:00:00.000000000', '2010-03-07T00:00:00.000000000',
       '2010-04-20T00:00:00.000000000', '2010-04-21T00:00:00.000000000',
       '2010-04-22T00:00:00.000000000', '2010-06-10T00:00:00.000000000',
       '2010-06-11T00:00:00.000000000', '2010-06-12T00:00:00.000000000',
       '2010-09-06T00:00:00.000000000', '2010-09-07T00:00:00.000000000',
       '2010-09-08T00:00:00.000000000', '2010-09-20T00:00:00.000000000',
       '2010-09-21T00:00:00.000000000', '2010-09-22T00:00:00.000000000',
       '2010-10-05T00:00:00.000000000', '2010-10-06T00:00:00.000000000',
       '2010-11-20T00:00:00.000000000', '2010-11-21T00:00:00.000000000',
       '2010-12-17T00:00:00.000000000', '2010-12-18T00:00:00.000000000',
       '2010-12-19T00:00:00.000000000', '2010-12-20T00:00:00.000000000',
       '2010-12-21T00:00:00.000000000', '2010-12-22T00:00:00.000000000',
       '2010-12-28T00:00:00.000000000', '2010-12-29T00:00:00.000000000',
       '2011-02-17T00:00:00.000000000', '2011-02-18T00:00:00.000000000',
       '2011-02-19T00:00:00.000000000', '2011-07-10T00:00:00.000000000',
       '2011-10-02T00:00:00.000000000', '2011-10-03T00:00:00.000000000',
       '2011-10-04T00:00:00.000000000', '2011-10-05T00:00:00.000000000',
       '2011-10-06T00:00:00.000000000', '2011-10-26T00:00:00.000000000',
       '2011-11-03T00:00:00.000000000', '2011-11-04T00:00:00.000000000',
       '2011-12-11T00:00:00.000000000', '2011-12-12T00:00:00.000000000',
       '2011-12-13T00:00:00.000000000', '2012-01-14T00:00:00.000000000',
       '2012-01-15T00:00:00.000000000', '2012-09-09T00:00:00.000000000',
       '2012-09-10T00:00:00.000000000', '2012-09-11T00:00:00.000000000',
       '2012-10-11T00:00:00.000000000', '2012-10-12T00:00:00.000000000',
       '2012-11-07T00:00:00.000000000', '2012-11-08T00:00:00.000000000',
       '2012-11-09T00:00:00.000000000', '2012-12-13T00:00:00.000000000',
       '2012-12-14T00:00:00.000000000', '2013-01-24T00:00:00.000000000',
       '2013-01-25T00:00:00.000000000', '2013-01-26T00:00:00.000000000',
       '2013-01-27T00:00:00.000000000', '2013-01-28T00:00:00.000000000',
       '2013-05-06T00:00:00.000000000', '2013-05-07T00:00:00.000000000',
       '2013-07-26T00:00:00.000000000', '2013-09-20T00:00:00.000000000',
       '2013-09-21T00:00:00.000000000', '2013-09-22T00:00:00.000000000',
       '2013-09-25T00:00:00.000000000', '2013-09-26T00:00:00.000000000',
       '2013-10-08T00:00:00.000000000', '2013-10-09T00:00:00.000000000',
       '2013-10-10T00:00:00.000000000', '2013-10-28T00:00:00.000000000',
       '2013-10-29T00:00:00.000000000', '2013-11-03T00:00:00.000000000',
       '2013-11-04T00:00:00.000000000', '2013-11-14T00:00:00.000000000',
       '2013-11-15T00:00:00.000000000', '2013-11-21T00:00:00.000000000',
       '2014-01-29T00:00:00.000000000', '2014-01-30T00:00:00.000000000',
       '2014-02-27T00:00:00.000000000', '2014-02-28T00:00:00.000000000',
       '2014-03-01T00:00:00.000000000', '2014-04-25T00:00:00.000000000',
       '2014-04-26T00:00:00.000000000', '2014-08-24T00:00:00.000000000',
       '2014-08-25T00:00:00.000000000', '2014-09-07T00:00:00.000000000',
       '2014-09-08T00:00:00.000000000', '2014-09-25T00:00:00.000000000',
       '2014-09-26T00:00:00.000000000', '2014-09-27T00:00:00.000000000',
       '2014-09-28T00:00:00.000000000', '2014-10-08T00:00:00.000000000',
       '2014-10-09T00:00:00.000000000', '2014-10-24T00:00:00.000000000',
       '2014-10-25T00:00:00.000000000', '2014-11-01T00:00:00.000000000',
       '2014-11-02T00:00:00.000000000', '2014-12-11T00:00:00.000000000',
       '2014-12-12T00:00:00.000000000', '2015-02-20T00:00:00.000000000',
       '2015-02-21T00:00:00.000000000', '2015-02-22T00:00:00.000000000',
       '2015-02-23T00:00:00.000000000', '2015-02-27T00:00:00.000000000',
       '2015-02-28T00:00:00.000000000', '2015-03-01T00:00:00.000000000',
       '2015-03-02T00:00:00.000000000', '2015-05-13T00:00:00.000000000',
       '2015-05-14T00:00:00.000000000', '2015-05-15T00:00:00.000000000',
       '2015-06-04T00:00:00.000000000', '2015-06-05T00:00:00.000000000',
       '2015-06-06T00:00:00.000000000', '2015-06-08T00:00:00.000000000',
       '2015-06-09T00:00:00.000000000', '2015-06-10T00:00:00.000000000',
       '2015-07-05T00:00:00.000000000', '2015-07-07T00:00:00.000000000',
       '2015-07-08T00:00:00.000000000', '2015-07-09T00:00:00.000000000',
       '2015-09-02T00:00:00.000000000', '2015-09-03T00:00:00.000000000',
       '2015-09-14T00:00:00.000000000', '2015-09-15T00:00:00.000000000',
       '2015-10-02T00:00:00.000000000', '2015-10-03T00:00:00.000000000',
       '2015-10-04T00:00:00.000000000', '2015-10-20T00:00:00.000000000',
       '2015-11-01T00:00:00.000000000', '2015-11-02T00:00:00.000000000',
       '2015-11-03T00:00:00.000000000', '2015-11-04T00:00:00.000000000',
       '2015-11-14T00:00:00.000000000', '2015-11-15T00:00:00.000000000',
       '2015-11-16T00:00:00.000000000', '2016-01-06T00:00:00.000000000',
       '2016-01-07T00:00:00.000000000', '2016-02-01T00:00:00.000000000',
       '2016-08-03T00:00:00.000000000', '2016-09-01T00:00:00.000000000',
       '2016-09-20T00:00:00.000000000', '2016-09-21T00:00:00.000000000',
       '2016-09-22T00:00:00.000000000', '2016-11-20T00:00:00.000000000',
       '2016-11-21T00:00:00.000000000', '2016-12-14T00:00:00.000000000',
       '2016-12-15T00:00:00.000000000', '2016-12-16T00:00:00.000000000',
       '2016-12-20T00:00:00.000000000', '2016-12-21T00:00:00.000000000',
       '2016-12-22T00:00:00.000000000', '2017-01-02T00:00:00.000000000',
       '2017-01-07T00:00:00.000000000', '2017-01-08T00:00:00.000000000',
       '2017-01-09T00:00:00.000000000', '2017-01-23T00:00:00.000000000',
       '2017-02-25T00:00:00.000000000', '2017-02-26T00:00:00.000000000',
       '2017-02-27T00:00:00.000000000', '2017-03-22T00:00:00.000000000',
       '2017-03-23T00:00:00.000000000', '2017-09-12T00:00:00.000000000',
       '2017-09-13T00:00:00.000000000', '2017-09-21T00:00:00.000000000',
       '2017-09-22T00:00:00.000000000', '2017-09-23T00:00:00.000000000',
       '2017-11-03T00:00:00.000000000', '2018-02-19T00:00:00.000000000',
       '2018-03-21T00:00:00.000000000', '2018-03-22T00:00:00.000000000',
       '2018-06-14T00:00:00.000000000', '2018-06-15T00:00:00.000000000',
       '2018-08-19T00:00:00.000000000', '2018-08-20T00:00:00.000000000',
       '2018-08-21T00:00:00.000000000', '2018-09-30T00:00:00.000000000',
       '2018-10-01T00:00:00.000000000', '2018-10-02T00:00:00.000000000',
       '2018-10-03T00:00:00.000000000', '2018-10-04T00:00:00.000000000',
       '2019-02-04T00:00:00.000000000', '2019-02-05T00:00:00.000000000',
       '2019-02-12T00:00:00.000000000', '2019-02-13T00:00:00.000000000',
       '2019-02-20T00:00:00.000000000', '2019-02-21T00:00:00.000000000',
       '2019-02-22T00:00:00.000000000', '2019-03-05T00:00:00.000000000',
       '2019-03-06T00:00:00.000000000', '2019-03-07T00:00:00.000000000',
       '2019-03-08T00:00:00.000000000', '2019-03-10T00:00:00.000000000',
       '2019-03-11T00:00:00.000000000', '2019-03-12T00:00:00.000000000',
       '2019-04-28T00:00:00.000000000', '2019-04-29T00:00:00.000000000',
       '2019-05-18T00:00:00.000000000', '2019-05-19T00:00:00.000000000',
       '2019-05-20T00:00:00.000000000', '2019-05-22T00:00:00.000000000',
       '2019-05-23T00:00:00.000000000', '2019-11-18T00:00:00.000000000',
       '2019-11-19T00:00:00.000000000', '2019-11-20T00:00:00.000000000',
       '2019-11-28T00:00:00.000000000', '2019-11-29T00:00:00.000000000',
       '2019-12-26T00:00:00.000000000', '2019-12-27T00:00:00.000000000',
       '2020-03-12T00:00:00.000000000', '2020-03-13T00:00:00.000000000',
       '2020-03-16T00:00:00.000000000', '2020-03-17T00:00:00.000000000',
       '2020-03-18T00:00:00.000000000', '2020-06-04T00:00:00.000000000',
       '2020-06-05T00:00:00.000000000', '2020-06-06T00:00:00.000000000',
       '2020-11-05T00:00:00.000000000', '2020-11-06T00:00:00.000000000',
       '2020-11-07T00:00:00.000000000', '2020-12-27T00:00:00.000000000',
       '2020-12-28T00:00:00.000000000', '2021-02-11T00:00:00.000000000',
       '2021-02-12T00:00:00.000000000', '2021-03-12T00:00:00.000000000',
       '2021-05-19T00:00:00.000000000', '2021-05-20T00:00:00.000000000',
       '2021-05-21T00:00:00.000000000', '2021-06-22T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-08-16T00:00:00.000000000',
       '2021-08-17T00:00:00.000000000', '2021-08-18T00:00:00.000000000',
       '2021-08-19T00:00:00.000000000', '2021-10-11T00:00:00.000000000',
       '2021-10-12T00:00:00.000000000', '2021-12-07T00:00:00.000000000',
       '2021-12-08T00:00:00.000000000', '2021-12-09T00:00:00.000000000',
       '2021-12-22T00:00:00.000000000', '2021-12-23T00:00:00.000000000',
       '2021-12-24T00:00:00.000000000', '2021-12-29T00:00:00.000000000',
       '2021-12-30T00:00:00.000000000', '2021-12-31T00:00:00.000000000',
       '2022-02-23T00:00:00.000000000', '2022-06-17T00:00:00.000000000',
       '2022-06-18T00:00:00.000000000', '2022-06-19T00:00:00.000000000',
       '2022-09-20T00:00:00.000000000', '2022-09-21T00:00:00.000000000',
       '2022-11-01T00:00:00.000000000', '2022-11-02T00:00:00.000000000',
       '2022-11-03T00:00:00.000000000', '2022-12-03T00:00:00.000000000',
       '2022-12-26T00:00:00.000000000', '2022-12-27T00:00:00.000000000',
       '2022-12-30T00:00:00.000000000', '2022-12-31T00:00:00.000000000',
       '2023-01-01T00:00:00.000000000', '2023-01-15T00:00:00.000000000',
       '2023-01-16T00:00:00.000000000', '2023-01-17T00:00:00.000000000',
       '2023-03-14T00:00:00.000000000', '2023-03-15T00:00:00.000000000',
       '2023-03-18T00:00:00.000000000', '2023-03-19T00:00:00.000000000',
       '2023-03-20T00:00:00.000000000', '2023-03-21T00:00:00.000000000',
       '2023-03-22T00:00:00.000000000', '2023-06-19T00:00:00.000000000',
       '2023-07-31T00:00:00.000000000', '2023-08-01T00:00:00.000000000',
       '2023-10-02T00:00:00.000000000'], dtype='datetime64[ns]')

In [15]:
def compute_vertical_composites(varname, anomaly, ar_dates, ssn, region):
    ## function that computes composites (anomaly or non-anomaly) for defined start_mon and end_mon    
    ## for DJF, MAM, JJA, SON, NDJFMA, and MJJASON
    ## compute anomaly composites - anomaly = True
    ## compute non-anomaly composites - anomaly=False

    ## set start_mon and end_mon based on ssn
    if ssn == 'DJF':
        start_mon, end_mon = (12, 2)
    elif ssn == 'MAM':
        start_mon, end_mon = (3, 5)
    elif ssn == 'JJA':
        start_mon, end_mon = (6, 8)
    elif ssn == 'SON':
        start_mon, end_mon = (9, 11)
    elif ssn == 'NDJFMA':
        start_mon, end_mon = (11, 4)
    elif ssn == 'MJJASO':
        start_mon, end_mon = (5, 10)

    ## load data
    path_to_data = '/expanse/nfs/cw3e/cwp140/preprocessed/ERA5/cross_section/'
    out_path = '/home/dnash/DATA/preprocessed/ERA5_composites/cross_section/'
    
    if anomaly == True:
        fname_pattern = path_to_data + 'anomalies/daily_filtered_anomalies_{0}_*.nc'.format(region)
    else:
        fname_pattern = path_to_data + 'daily/era5_{0}_025dg_daily_uvwq_*.nc'.format(region)

    ds = xr.open_mfdataset(fname_pattern, engine='netcdf4', combine='by_coords')

    ## subset to AR dates
    ds = ds.sel(time=ar_dates)

    ## subset to start_month and end_month
    ds = select_months_ds(ds, start_mon, end_mon, 'time')
    ds = ds.load()
    ## run students t-test if anomaly == True
    if anomaly == True:    
        popmean = np.zeros([len(ds.level), len(ds.location)]) ## population mean
        ndays = len(ds.time) # number of unique days
        # calculate t-value based on ndays
        a_mean, tval_mask = ttest_1samp_new(a=ds, popmean=popmean, dim='time', n=ndays)

        ## write to netCDF
        out_fname = out_path + 'filtered_anomaly_composite_{0}_{1}_{2}.nc'.format(varname, ssn, region)
        a_mean.to_netcdf(path=out_fname, mode = 'w', format='NETCDF4')

        out_fname = out_path + 'filtered_anomaly_composite_tvals_{0}_{1}_{2}.nc'.format(varname, ssn, region)
        tval_mask.to_netcdf(path=out_fname, mode = 'w', format='NETCDF4')

    else:
        a_mean = ds.mean('time')
        out_fname = out_path + 'composite_{0}_{1}_{2}.nc'.format(varname, ssn, region)
        a_mean.to_netcdf(path=out_fname, mode = 'w', format='NETCDF4')

    return a_mean

In [16]:
%%time
## iterate through options
varname_lst = ['uvwq']
ssn_lst = ['DJF', 'MAM', 'JJA', 'SON', 'NDJFMA', 'MJJASO']
anom_lst = [True, False]

a = [varname_lst, ssn_lst, anom_lst]

option_lst = list(itertools.product(*a))
for i, lst in enumerate(option_lst):
    anomaly = lst[2]
    ssn = lst[1]
    varname = lst[0]
    print('Anomaly:', anomaly, 'Season:', ssn, 'Variable:', varname)
    tmp = compute_vertical_composites(varname, anomaly, ar_dates, ssn, region)

Anomaly: True Season: DJF Variable: uvwq
<xarray.Dataset>
Dimensions:    (location: 17, level: 23, time: 159)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
  * time       (time) datetime64[ns] 2000-02-23 2000-02-24 ... 2023-01-17
    dayofyear  (time) int64 54 55 25 27 38 59 29 30 ... 361 364 365 1 15 16 17
Dimensions without coordinates: location
Data variables:
    q          (time, level, location) float64 0.008633 0.009625 ... 0.00282
    u          (time, level, location) float64 -0.06073 -0.8752 ... 17.97 16.71
    v          (time, level, location) float64 4.944 4.787 2.889 ... 23.12 22.5
    w          (time, level, location) float64 -0.006118 -0.1147 ... 0.1008
<xarray.Dataset>
Dimensions:    (location: 17, level: 23)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
Dimensions without coordinates: location
Data variables:
    q          (level, location) bool True True True True ... True True True
    u          (level, location) bool True True True True ... True True True
    v          (level, location) bool True True True True ... True True True
    w          (level, location) bool True True True True ... False True False
Anomaly: False Season: DJF Variable: uvwq
<xarray.Dataset>
Dimensions:    (location: 17, level: 23, time: 159)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
  * time       (time) datetime64[ns] 2000-02-23 2000-02-24 ... 2023-01-17
Dimensions without coordinates: location
Data variables:
    q          (time, level, location) float32 0.007164 0.007319 ... 2.078e-05
    u          (time, level, location) float32 2.229 1.208 ... 48.54 47.76
    v          (time, level, location) float32 3.903 4.189 2.489 ... 26.76 26.58
    w          (time, level, location) float32 -0.02976 -0.1036 ... 0.1373
Attributes:
    Conventions:  CF-1.6
    history:      2023-11-07 23:34:56 GMT by grib_to_netcdf-2.25.1: /opt/ecmw...
Anomaly: True Season: MAM Variable: uvwq
<xarray.Dataset>
Dimensions:    (location: 17, level: 23, time: 79)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
  * time       (time) datetime64[ns] 2000-04-20 2000-04-21 ... 2023-03-22
    dayofyear  (time) int64 111 112 95 109 110 73 74 75 ... 73 74 77 78 79 80 81
Dimensions without coordinates: location
Data variables:
    q          (time, level, location) float64 -0.01832 -0.02082 ... -0.001286
    u          (time, level, location) float64 0.8557 0.7554 ... 5.553 2.789
    v          (time, level, location) float64 -1.921 -2.652 ... 20.35 18.41
    w          (time, level, location) float64 -0.02266 0.00648 ... -0.01027
<xarray.Dataset>
Dimensions:    (location: 17, level: 23)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
Dimensions without coordinates: location
Data variables:
    q          (level, location) bool True True True True ... True True True
    u          (level, location) bool True True True True ... True True True
    v          (level, location) bool True True True True ... True True True
    w          (level, location) bool True True True True ... False False False
Anomaly: False Season: MAM Variable: uvwq
<xarray.Dataset>
Dimensions:    (location: 17, level: 23, time: 79)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
  * time       (time) datetime64[ns] 2000-04-20 2000-04-21 ... 2023-03-22
Dimensions without coordinates: location
Data variables:
    q          (time, level, location) float32 0.008274 0.008428 ... 3.416e-05
    u          (time, level, location) float32 3.964 3.785 2.084 ... 41.96 39.59
    v          (time, level, location) float32 -2.732 -2.87 ... 25.98 24.33
    w          (time, level, location) float32 0.0162 0.05641 ... 0.02788
Attributes:
    Conventions:  CF-1.6
    history:      2023-11-07 23:34:56 GMT by grib_to_netcdf-2.25.1: /opt/ecmw...
Anomaly: True Season: JJA Variable: uvwq
<xarray.Dataset>
Dimensions:    (location: 17, level: 23, time: 53)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
  * time       (time) datetime64[ns] 2000-06-17 2000-06-18 ... 2023-08-01
    dayofyear  (time) int64 169 170 188 243 231 235 ... 168 169 170 170 212 213
Dimensions without coordinates: location
Data variables:
    q          (time, level, location) float64 -0.03145 -0.03479 ... -0.004868
    u          (time, level, location) float64 -2.122 -1.152 ... 7.941 8.129
    v          (time, level, location) float64 2.567 2.304 ... -1.004 -0.5599
    w          (time, level, location) float64 -0.02468 -0.03665 ... -0.003315
<xarray.Dataset>
Dimensions:    (location: 17, level: 23)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
Dimensions without coordinates: location
Data variables:
    q          (level, location) bool True True True True ... True True True
    u          (level, location) bool False False False True ... True True True
    v          (level, location) bool False True True True ... True True True
    w          (level, location) bool True True True True ... True True True
Anomaly: False Season: JJA Variable: uvwq
<xarray.Dataset>
Dimensions:    (location: 17, level: 23, time: 53)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
  * time       (time) datetime64[ns] 2000-06-17 2000-06-18 ... 2023-08-01
Dimensions without coordinates: location
Data variables:
    q          (time, level, location) float32 0.009153 0.009272 ... 1.64e-05
    u          (time, level, location) float32 0.4832 1.905 ... 7.403 7.229
    v          (time, level, location) float32 2.118 2.321 ... 1.417 1.303
    w          (time, level, location) float32 0.04148 0.03709 ... -0.0334
Attributes:
    Conventions:  CF-1.6
    history:      2023-11-07 23:34:56 GMT by grib_to_netcdf-2.25.1: /opt/ecmw...
Anomaly: True Season: SON Variable: uvwq
<xarray.Dataset>
Dimensions:    (location: 17, level: 23, time: 214)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
  * time       (time) datetime64[ns] 2000-09-20 2000-09-21 ... 2023-10-02
    dayofyear  (time) int64 264 265 266 283 284 285 ... 263 264 305 306 307 275
Dimensions without coordinates: location
Data variables:
    q          (time, level, location) float64 0.008959 0.00953 ... 0.004815
    u          (time, level, location) float64 -1.6 -1.592 ... 14.93 15.02
    v          (time, level, location) float64 2.47 3.215 2.066 ... 17.29 17.53
    w          (time, level, location) float64 0.01037 -0.03047 ... -0.003833
<xarray.Dataset>
Dimensions:    (location: 17, level: 23)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
Dimensions without coordinates: location
Data variables:
    q          (level, location) bool True True True True ... True True True
    u          (level, location) bool True True True True ... True True True
    v          (level, location) bool True True True True ... True True True
    w          (level, location) bool False True True True ... False False False
Anomaly: False Season: SON Variable: uvwq
<xarray.Dataset>
Dimensions:    (location: 17, level: 23, time: 214)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
  * time       (time) datetime64[ns] 2000-09-20 2000-09-21 ... 2023-10-02
Dimensions without coordinates: location
Data variables:
    q          (time, level, location) float32 0.01133 0.0112 ... 5.031e-05
    u          (time, level, location) float32 1.072 1.362 1.526 ... 32.98 32.83
    v          (time, level, location) float32 1.426 2.198 1.192 ... 21.36 21.47
    w          (time, level, location) float32 0.03116 0.007069 ... -0.01666
Attributes:
    Conventions:  CF-1.6
    history:      2023-11-07 23:34:56 GMT by grib_to_netcdf-2.25.1: /opt/ecmw...
Anomaly: True Season: NDJFMA Variable: uvwq
<xarray.Dataset>
Dimensions:    (location: 17, level: 23, time: 271)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
  * time       (time) datetime64[ns] 2000-02-23 2000-02-24 ... 2023-03-22
    dayofyear  (time) int64 54 55 111 112 25 27 38 59 ... 73 74 77 78 79 80 81
Dimensions without coordinates: location
Data variables:
    q          (time, level, location) float64 0.008633 0.009625 ... -0.001286
    u          (time, level, location) float64 -0.06073 -0.8752 ... 5.553 2.789
    v          (time, level, location) float64 4.944 4.787 2.889 ... 20.35 18.41
    w          (time, level, location) float64 -0.006118 -0.1147 ... -0.01027
<xarray.Dataset>
Dimensions:    (location: 17, level: 23)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
Dimensions without coordinates: location
Data variables:
    q          (level, location) bool False False False False ... True True True
    u          (level, location) bool True True True True ... True True True
    v          (level, location) bool True True True True ... True True True
    w          (level, location) bool False True True True ... False False False
Anomaly: False Season: NDJFMA Variable: uvwq
<xarray.Dataset>
Dimensions:    (location: 17, level: 23, time: 271)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
  * time       (time) datetime64[ns] 2000-02-23 2000-02-24 ... 2023-03-22
Dimensions without coordinates: location
Data variables:
    q          (time, level, location) float32 0.007164 0.007319 ... 3.416e-05
    u          (time, level, location) float32 2.229 1.208 ... 41.96 39.59
    v          (time, level, location) float32 3.903 4.189 2.489 ... 25.98 24.33
    w          (time, level, location) float32 -0.02976 -0.1036 ... 0.02788
Attributes:
    Conventions:  CF-1.6
    history:      2023-11-07 23:34:56 GMT by grib_to_netcdf-2.25.1: /opt/ecmw...
Anomaly: True Season: MJJASO Variable: uvwq
<xarray.Dataset>
Dimensions:    (location: 17, level: 23, time: 234)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
  * time       (time) datetime64[ns] 2000-06-17 2000-06-18 ... 2023-10-02
    dayofyear  (time) int64 169 170 188 243 264 265 ... 263 264 170 212 213 275
Dimensions without coordinates: location
Data variables:
    q          (time, level, location) float64 -0.03145 -0.03479 ... 0.004815
    u          (time, level, location) float64 -2.122 -1.152 ... 14.93 15.02
    v          (time, level, location) float64 2.567 2.304 1.235 ... 17.29 17.53
    w          (time, level, location) float64 -0.02468 -0.03665 ... -0.003833
<xarray.Dataset>
Dimensions:    (location: 17, level: 23)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
Dimensions without coordinates: location
Data variables:
    q          (level, location) bool True True True False ... True True True
    u          (level, location) bool True False True True ... True True True
    v          (level, location) bool True True True True ... True True True
    w          (level, location) bool True True True True ... False False True
Anomaly: False Season: MJJASO Variable: uvwq
<xarray.Dataset>
Dimensions:    (location: 17, level: 23, time: 234)
Coordinates:
    longitude  (location) float32 -118.0 -117.5 -117.0 ... -111.0 -110.5 -110.0
    latitude   (location) float32 33.0 32.75 32.5 32.25 ... 29.5 29.25 29.0
  * level      (level) int32 1000 975 950 925 900 875 ... 350 300 250 225 200
  * time       (time) datetime64[ns] 2000-06-17 2000-06-18 ... 2023-10-02
Dimensions without coordinates: location
Data variables:
    q          (time, level, location) float32 0.009153 0.009272 ... 5.031e-05
    u          (time, level, location) float32 0.4832 1.905 ... 32.98 32.83
    v          (time, level, location) float32 2.118 2.321 ... 21.36 21.47
    w          (time, level, location) float32 0.04148 0.03709 ... -0.01666
Attributes:
    Conventions:  CF-1.6
    history:      2023-11-07 23:34:56 GMT by grib_to_netcdf-2.25.1: /opt/ecmw...
CPU times: user 43.8 s, sys: 2.96 s, total: 46.8 s
Wall time: 54.4 s